html *{
  font-family: Helvetica;
}

#banner {
  width:100%;
  height:20%;
  background-color: #E74A37;
}

#bannertext {
  color: white;
  font-weight: bold;
  text-align: center;
}

#codevalid {
  color: red;
}

#formvalidation {
  color: red;
  position: relative;
  left: 15%;
}

.center {
  position: relative;
  left: 15%;
  width: 30%;
}

.nameentry {
  position: relative;
  left: 15%;
}

#finish {
  position: relative;
  left: 15%;
}

#entercode {
  position: relative;
  left: 15%;
}
